<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
		  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to content_tag(:h2, 'MealWise'), root_url, :class => 'brand' %>
  	  <div class="nav-collapse in collapse" >
        <ul class="nav pull-right">
          <%= content_tag :li, link_to('Cloud Search', home_path) %>
          <%= content_tag :li, link_to('Meals', meals_path) %>          
        </ul>
      </div>
    </div>
    <!-- ends container -->
  </div>
  <!-- ends navbar-inner -->
</div>
<!-- ends navbar -->